.app-heading{
    padding: 10px;
    background: rgb(240, 248, 255);
    text-align: center;
    margin-bottom: 20px;
}

.app-from form {
    display: flex;
}
.app-from-group{
    display: flex;
    flex-direction: column !important;
    text-align: left;
    margin-right: 2%;
}

.feedback{
    color:red;
}

.spanSuperMarket{
    margin-right: 5px;
    float: right;
    cursor: pointer;
}

.formAddButton{
    margin-top: 20px;
}

.mainImageSize{
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 5px;
}

.thumb > .thumbs {
    display: none;
  }
  .thumb:hover > .thumbs {
    position: absolute;
    display: flex;
    flex-direction: row;
  }

  .thumb:hover > .thumbs > .otherThumbsAdditionalImages {
    max-width: 200px;
  }
  
  .thumb:hover > .thumbs > .otherThumbs {
    max-width: 164px;
  }
  
  .imgMain{
      max-width: 150px;
  }

  .imgAdditional{
    max-width: 250px;
}

.img-border {
  position: relative;
  margin-right: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
}

.img-small {
  max-width: 50px;
  max-height: 50px;
}

.additionalImageText {
  margin-bottom: 3px;
}

.list-group-item{
  margin-bottom: 1px;
}

.topbar {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: #ffe68b;
  text-align: center;
  line-height: 2.5;
  overflow: hidden; 
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
}